html{
    text-align: center;
}

/*Top menu setting*/
#topMenu{
    margin: 0px;
    height: auto;
    width: 100%;
}
#topMenu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#topMenu ul li{
    list-style: none;
    color: black;
    background-color: white;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: inline-block;
}
#topMenu .menuLink{
    text-decoration: none;
    color: black;
    display: block;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
}
#topMenu .menuLink:hover{
    color: black;
    background-color: wheat;
}/*마우스 커서 반응*/

/*submenu settings*/
.submenu{
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
}
#topMenu .submenuLink{
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
}
.submenuLink{
    color: #2d2d2d;
    background-color: white;
    margin-top: -1px;
}
.longLink{
    width: 190px;
}

.topMenuLi:hover .submenu{
    height: 93px;
}
.submenuLink:hover{
    color: black;
    background-color: #dddddd;
}

/*slide banner settings*/
.section input[id*="slide"]{
    display: none;
}
.section .slideWrap{
    margin-top: 60px;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.section .slideList{
    white-space: nowrap;
    font-size: 0;
}
.section .slideList > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s; /*animation motion*/
}
.section .slideList > li > a{
    display: block;
    position: relative;
}
.section .slideList > li > a > a img{
    width: 100%;
}
.section .slideList label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.section .slideList .left{
    left: 30px;
    background: url('images/kau3.jpg') center center / 100% no-repeat;
}/*slide button setting(background)*/
.section .slideList .right{
    right: 30px;
    background: url('images/kau3.jpg') center center / 100% no-repeat;
}/*slide button setting(background)*/
.section [id="slide01"]:checked ~ .slideWrap .slideList > li {transform:translateX(0%);}
.section [id="slide02"]:checked ~ .slideWrap .slideList > li {transform:translateX(-100%);}
.section [id="slide03"]:checked ~ .slideWrap .slideList > li {transform:translateX(-200%);}
/*button click action*/

.footer{
    margin: 0px;
    width: 99%;
    height: auto;
    position: fixed;
    bottom: 0px;
    background: #dddddd;
    text-align: right;
    color: black;
    font-size: 15px;
}
.footerImg{
    width: auto;
    height: auto;
    float: left;
    margin: 40px;
}
.footerCopy{
    width: auto;
    height: auto;
    float: right;
    margin-right: 25px;
}